{
  "presets": [
    [
      "babel-preset-gatsby",
      {}
    ],
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ]
}